<header class="topbar w-100">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{{homeUrl}}}">
        <!-- Logo icon --><b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <img src="/$org_name$/shared/static/img/logo-stamp.png" alt="homepage" class="dark-logo" />
          <!-- Light Logo icon -->
          <img src="/$org_name$/shared/static/img/logo-stamp-light.png" alt="homepage" class="light-logo" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <!-- dark Logo text -->
        <span>
          <span class="dark-logo"> {{{displayName}}} </span>
          <span class="light-logo"> {{{displayName}}} </span>
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
  </nav>
</header>
