<script spec="view" type="application/json">
  {
    "name" : "UM",
    "type" : "page",
    "controller" : "UMC",
    "nextViewName" : "UserList",
    "nextViewSpecs" : [
      {
        "name" : "UserList"
      }]
  }
</script>

<div class="trillo-application js-application no-sidebar" nm="UM">
    <!--#include file="header.htm" -->
    <div class="page-wrapper" nm="main-container">
      
    </div>
</div>
<!--#include file="misc.htm" -->
<!--#include file="alert.htm" -->
<!--#include file="modal.htm" -->
